<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sikiapp.redis.mapper.UserAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sikiapp.redis.entity.UserAuth">
    <result column="id" property="id" />
        <result column="user" property="user" />
        <result column="identity_type" property="identityType" />
        <result column="identifier" property="identifier" />
        <result column="certificate" property="certificate" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="face" property="face" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user, identity_type, identifier, certificate, name, gender, face
    </sql>

</mapper>
